<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/css/fontawesome/css/all.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css" >
    <link rel="stylesheet" type="text/css" href="/css/employee.css" >
    <title>InES Employee</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
</head>
<body>
<div th:replace="/ines/fragments/navbars/chartNavbar :: navbar"></div>
<div class="container">
    <header>
        <h2 class="display-4">Employee Table</h2>
    </header>
    <div class="row">
        <div th:each="employee : ${employees}" th:id="employee">
            <div>
                <div>
                    <p>Employee Name:
                        <a th:text="${employee.name}"></a>
                    </p>
                </div>
                <div>
                    <p>Contracted From:
                        <a th:text="${employee.contractFrom}"></a>
                        - To:
                        <a th:text="${employee.contractTo}"></a>
                    </p>
                </div>
            </div>
            <table id="projectInfo" class="table table-bordered">
                <tr>
                    <th>Project Id</th>
                    <th>Project Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Month From</th>
                    <th>Month To</th>
                    <th>Person Months</th>
                </tr>
                <tr th:each="project: ${employee.projects}">
                    <td th:text="${project.projectId}">Id: </td>
                    <td th:text="${project.projectName}">Project Name: </td>
                    <td th:text="${project.startDate}">Start Date: </td>
                    <td th:text="${project.endDate}">End Date: </td>
                    <td th:text="${project.monthFrom}">Month From: </td>
                    <td th:text="${project.monthTo}">Month To: </td>
                    <td th:text="${project.projectMonths}">Person Months: </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        var employees = [[${employees}]]


    </script>
    <script th:src="@{/js/graphTest.js}"></script>
    <script th:src="@{/js/navbar.js}"></script>
</th:block>
<script type="text/javascript" src="/js/jquery-3.6.0.js"></script>
<script type="text/javascript" src="/js/bootstrap/bootstrap.min.js"></script>

</body>
</html>